 <div class="form_inline_clearfix">	
 	<div class='nested-fields'>
 		<%= f.input :step %>
 		<%= link_to_remove_association 'Remove step', f, class: "form-button btn btn-default" %>
 	</div>	 
 </div> 