<div class="container">		
	<h1> MY Favorite Recipe List </h1>
	<div class="row">	

		<% @recipes.each do |recipe| %>	
		<div class="col-sm-4 menu-item">	
			<%= link_to(image_tag(recipe.image.url(:medium), class: "img-rounded", size: '300x150'), recipe) %>
			<div class="labels"><%= link_to recipe.title,recipe %></div>
		</div>
<% end %>
	</div>
	

</div>
