/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	
	@import "bootstrap-sprockets";
	@import "bootstrap";
	// @mixin box-shadow {
	// 	-webkit-box-shadow: rgba(0,0,0,0.08) 0 2px 0;
	// 	-moz-box-shadow: rgba(0,0,00.08) 0 2px 0;
	// 	box-shadow: rgba(0,0,0 0.09) 0 2px 0;
	// }


	$red: #DB6161;

	

	body {
		background: #cc0000;
	}

	.main-content {
		padding: 20px;
		
	}	
	.alert {
		padding:15px;
		margin-bottom: 20px;
		border: 1px solid transparent;
	}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    border: solid 1px #000000;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-Signup {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    border: solid 1px #000000;
}

h2 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}


	




	
